@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&Caveat:wght@600&family=Kosugi&display=swap');

body {
    font-family: 'M PLUS 1p', sans-serif;
}

header {
    background-color: lavender;
    height: 5em;
    box-shadow: 0px 1px 2px 1px rgba(180, 180, 180, 0.5);
    font-family: 'M PLUS 1p', sans-serif;
    width: 100%;
}

footer {
    background-color: #b3b3ff;
    height: 4em;
    font-family: 'M PLUS 1p', sans-serif;
    width: 100%;
}

header p {
    color: dimgray;
}

.container {
    padding-top: 6em;
}

/** ボタン **/
button:disabled {
    background: lightgray;
    color: gray;
}

/* 緑ボタン */
.btn-green {
    background: #236d46;
    color: white;
    border: solid 1px #236d46;
}

.btn-green :hover {
    background: white;
    color: #236d46;
}

/* グレーボタン */
.btn-gray {
    background: white;
    color: gray;
    border: solid 1px gray;
}

.btn-gray :hover {
    background: lightgray;
    border: solid 1px lightgray;
    color: white;
}

/* 見出し要素 */
#title h1 {
    color: #882954;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: bold;
    font-size: 1.4em;
}

#title h2 {
    color: #882954;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
}

#title h3 {
    color: #882954;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

#title h4 {
    color: #882954;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}

#title h6 {
    color: #882954;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 1em;
    font-weight: bold;
}

/* 色指定 */
.cl-darkpink {
    color: #c73576;
}

/* リンク装飾 */
.notice-link {
    color: #c73576!important;
    text-decoration: underline;
}

.notice-link:hover {
    color: #eca0c2!important;
    text-decoration: none;
}

.active {
    color: black;
}

.active:hover {
    color: dimgray;
    text-decoration: none;
}

/* テーブル */
.table-palepink th {
    background-color: lavender;
    font-weight: normal;
}

.table-palepink tr {
    border-bottom: solid 1px dimgray;
}

.table-palepink td {
    background-color: white;
}