@import 'https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@120&display=swap'; */

body {
    font-family: 'M PLUS 1p';
}

header {
    background-color: lavender;
    height: 5em;
    box-shadow: 0px 1px 2px 1px rgba(180, 180, 180, 0.5);
    font-family: 'M PLUS 1p';
}

header p {
    color: dimgray;
}

/* 見出し要素 */
h1 {
    color: #882954;
    font-size: 1.5em;
}

h2 {
    color: #882954;
    font-size: 1em;
}

/* 色指定 */
.cl-darkpink {
    color: #c73576;
}

/* リンク装飾 */
.notice-link {
    color: #c73576;
    border-bottom: 1px solid #c73576;
}

.notice-link :hover {
    color: #c73576;
    border-bottom: 1px #c73576;
}

.notice-link :active {
    color: #7c294f;
    border-bottom: none;
}